.followCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:.4rem;
    width: 100%;


    .details{
        display: flex;
        align-items: center;
        gap: .6rem;

        h3{
            font-family: monospace;
        }
    }
    
    .followBtn{
        justify-self: flex-end;
    }
}